body {
  font-family: verdana;
  margin: 2rem;
}

#grit_nav {
  color: #FF4500
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #FF4500;
  color: white;
  border: none;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
}

/* manual-page {
  display: flex;
} */

#section-one {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#dist-div {
  display: flex;
  flex-direction: row;
}

#duration-div {
  display: flex;
  flex-direction: row;
}

#elevation-form {
  display: flex;
  flex-direction: row;
}

#date-time-form {
  display: flex;
  flex-direction: row;
}

#type-shoes-forms {
  display: flex;
  flex-direction: row;
}
/* #measurements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
} */

