
#grit-logo {
  color: #FF4500;
  margin-right: 4rem;
  margin-left: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

#nav-links {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  margin-right: 4rem;
}

a {
  color: #505050;
  text-decoration: none;
}

a:hover {
  color: #FF4500
}

body {
  font-family: verdana;
  font-weight: lighter;
  margin: 0;
  background-color: #F8F8F8;
}


form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  color: #DCDCDC;
}

button {
  background-color: #FF4500;
  color: white;
  border: none;
  height: 2rem;
  width: 4rem;
  border-radius: 5px;
}

/* manual-page {
  display: flex;
} */

#section-one {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#dist-div {
  display: flex;
  flex-direction: row;
}

#duration-div {
  display: flex;
  flex-direction: row;
}

#elevation-form {
  display: flex;
  flex-direction: row;
}

#date-time-form {
  display: flex;
  flex-direction: row;
}

#type-shoes-forms {
  display: flex;
  flex-direction: row;
}

#activity-card {
  width: 30rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 5px;
}

#activitycard-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
#test {
  justify-content: center;
} */
/* #measurements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
} */

