body {
  font-family: verdana;
}

#grit_nav {
  color: #FF4500
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}
